/* SETUP FONTS */
@import url("../../assets/ContaxSans55/style.css");
@import url("../../assets/Steradian/style.css");

/* DEFAULT COLOURS */
html {
  --gold: hsl(51, 67%, 59%);
  --grey: hsl(0, 0%, 85%);
  --red: hsl(4, 69%, 55%);
  --red-offer: hsl(358, 70%, 54%);
}

/* RESET MARGINS/PADDING */
* {
  padding: 0;
  margin: 0;
}


/* PRIMARY WRAPPERS */

/* STATIC TOP WRAPPER */
.header {
  background-color: white;
  font-family: 'Steradian', 'Helvetica', arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* SCROLLING BOTTOM WRAPPER */
.main {
  font-family: 'Steradian', 'Helvetica', arial, sans-serif;
  height: 100%;
  position: relative;
  top: 3rem;
}


/* SECONDARY WRAPPERS */

/* HEADER -> LOGO */
.top-bar {
  align-items: center;
  color: var(--grey);
  display: flex;
  font-weight: 400;
  justify-content: center;
  line-height: 22px;
  size: 14px;
  width: 100vw;
}

.logo {
  height: 2.2rem;
  padding: 1rem;
}

.top-bar-left, .top-bar-right {
  margin: 0 1rem;
  color: white;
}

.top-bar-left .burger, .top-bar-right .burger {
  padding: 0 0.5rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 830px) {
  .top-bar {
    size: 7px;
    justify-content: space-between;
  }
  .logo {
    height: 1.1rem;
  }
  .burger {
    color: black;
  }
}


/* HEADER -> NAVBAR */
.nav-bar {
  align-items: flex-start;
  border-bottom: solid;
  border-color: var(--grey);
  border-top: solid;
  border-width: 1px;
  color: #d9d9d9;
  display: flex;
  padding: 0.5rem 0;
}

.nav-bar-elements {
  box-sizing: content-box;
  color: black;
  display: flex;
  list-style-type: none;
}

.nav-bar-elements li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 15px;
  text-decoration: none;
}

.nav-bar-elements li:hover {
  cursor: pointer; 
  text-decoration: underline;
  text-decoration-color: var(--gold);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.nav-bar-elements .gold {
  color: var(--gold);
}

.nav-bar-elements .red {
  color: var(--red);
}

.nav-bar-elements .red:hover {
  text-decoration-color: var(--red);
}

@media screen and (max-width: 830px) {
  .nav-bar {
    display: none;
  }
}


/* OFFERS BANNER */
.offers {
  align-items: center;
  background-color: #f2f2f2;
  color: var(--red-offer);
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  line-height: normal;
  top: 6.5rem;
  padding: 0rem 0;
  position: relative;
  width: 100vw;
  z-index: -1;
}

.offers p {
  font-family: 'Steradian', 'Helvetica', arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 830px) {
  .offers {
    top: 3rem;
  }
}


/* MAIN -> WISHLIST */

.wishlist {
  align-items: flex-start;
  color: rgb(128, 128, 128);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 4rem;
}

@media screen and (max-width: 830px) {
  .wishlist {
    align-items: center;
    top: 3rem;
  }
}

.wishlist h3 {
  color: black;
  font-size: 24px;
  font-weight: 400;
  margin-top: 3rem;
  margin-left: 15px;
  margin-bottom: 2rem;
}

/* MAIN -> WRAPPER FOR WISHLIST ITEMS */
.items {
  align-items: stretch;
  color: rgb(128, 128, 128);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  top: 3rem;
}

/* INDIVIDUAL PRODUCT CARD */
.item-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 22px;
  padding: 15px;
  width: auto;
}

/* WRAPPERS FOR TOP AND BOTTOM SECTIONS OF PRODUCT CARDS */
.upper-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.lower-section {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
}

/* - UPPER-SECTION - */
/* TEXT ABOVE PRODUCT IMAGE */
.top-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.top-row .new-with-tag {
  color: var(--gold);
  font-size: 11px;
  font-weight: 500;
  position: absolute;
}

.top-row .remove-button {
  color: black;
  display: flex;
  font-size: 18px;
  font-weight:100;
  position: absolute;
  right: 5px;
  top: 5px;
}

.remove-button:hover {
  cursor: pointer;
}

/* PRODUCT IMAGE */
.item-card .item-img img {
  max-width: 180px;
  width: auto;
}

/* TEXT CONTENT BELOW PRODUCT IMAGE */
.item-card .designer {
  color: black;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  padding-bottom: 0.3rem;
}

.item-card .name  {
  cursor: pointer;
  font-family: 'Contax Sans', 'Helvetica', arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

.item-card .name:hover {
  color: var(--gold);
  padding-bottom: 0.3rem;
  text-decoration: underline;
}

.item-card .size {
  font-size: 14px;
  font-family: 'Contax Sans', 'Helvetica', arial, sans-serif;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

.item-card .price {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

/* - LOWER SECTION - */
.item-card .retail {
  color: hsl(0, 0%, 40%);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 0.5rem;
}

/* SELECT SIZE DROP DOWN */
.size-button-wrapper {
  border: none;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 2.3rem;
  justify-content: center;
  line-height: 13px;
  letter-spacing: 1px;
  margin: 10px 15px;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 100%;
  z-index: 10;
}

/* .size-button-wrapper:active {
  box-shadow: 0 0 3px 1px var(--gold);
  cursor: pointer;
  transition: 0.3s;
} */

.size-button-wrapper-shine {
  box-shadow: 0 0 3px 1px var(--gold);
  transition: 0.3s;
}

.size-button {
  /* align-items: flex-end; */
  /* align-items: center; */
  background-color: white;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 1rem;
  justify-content: center;
  line-height: 13px;
  letter-spacing: 1px;
  margin: 0px 15px;
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 10px 0px;
}

.size-button-contents {
  /* align-items: center; */
  /* align-items: flex-end; */
  background-color: white;;
  border: solid;
  border-top: none;
  border-width: 1px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 13px;
  position: absolute;
  width: 100%;
  z-index: 105;
}

.minimised {
  border-bottom: none;
}
.shadow {
  box-shadow: 0px 5px 5px -2px lightgrey;
}

.size-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.size-selector-title {
  padding-left: 1rem;
  height: 1.5rem;
}

.size-selector-dd {
  padding-right: 0.5rem;
}

.size-row {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  padding: 0.5rem 0;
  width: 100%;
}

.size-row:hover {
  background-color: var(--grey);
  width: 100%;
}

.size-row .col1 {
  color: #666666;
  font-family: 'Contax Sans', 'Helvetica', arial; 
  font-weight: 300;
  padding-left: 1rem;
  white-space: nowrap;
  width: 6rem;
  /* width: 100%; */
}

.size-row .col2 {
  color: black;
  font-weight: 300;
  /* overflow: hidden; */
  padding-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.size-row .col3 {
  color: var(--red);
  font-weight: 300;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


/* ADD TO CART BUTTON */
.add-to-cart {
  border: solid;
  border-width: 1px;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 1rem;
  justify-content: center;
  line-height: 13px;
  letter-spacing: 1px;
  margin: 10px 15px;
  padding: 10px 0px;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.add-to-cart.active {
  color: black;
}

.add-to-cart.inactive {
  color: var(--gray);
}

.add-to-cart.active:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.add-to-cart.inactive:hover {
  cursor: default;
  /* cursor: not-allowed; */
}


/* TOOLTIP POP-UPS */
.tooltiptext {
  background-color: white;
  border: solid;
  border-width: 1px;
  color: black;
  font-family: arial;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.add-to-cart .tooltiptext {
  padding: 0.5rem;
  right: -25%;
  top: 75%;
}

.remove-button .tooltiptext {
  padding: 0.2rem;
  right: 0%;
  text-align: center;
  top: 100%;
  width: 70px;
}

.add-to-cart.active:hover .tooltiptext, 
.remove-button:hover .tooltiptext {
  transition-delay: 0.75s;
  visibility: visible;
}

/* TODO: TEST AREA */


